{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">Source Code</h6>
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item">
                                    <a target="_blank" 
                                       href="https://github.com/app-generator/django-argon-charts"><i class="fab fa-github"></i></a></li>
                                <li class="breadcrumb-item">
                                    <a target="_blank" 
                                       href="https://github.com/app-generator/django-argon-charts/blob/master/app/templates/dashboard.html">HTML</a></li>
                                <li class="breadcrumb-item">
                                    <a target="_blank" 
                                       href="https://github.com/app-generator/django-argon-charts/blob/master/orders/models.py">Model</a></li>
                                <li class="breadcrumb-item">
                                    <a target="_blank" 
                                       href="https://github.com/app-generator/django-argon-charts/blob/master/orders/views.py">View</a></li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-lg-6 col-5 text-right">
                        <a href="#" class="btn btn-sm btn-neutral">New</a>
                        <a href="#" class="btn btn-sm btn-neutral">Filters</a>
                    </div>
                </div>

                <!-- Widget 1 -->
                <div class="row">
                    <div class="col-xl-3 col-md-6">
                        <div class="card card-stats">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Total Sales</h5>
                                        <span class="h2 font-weight-bold mb-0">${{ total_sales|default:0 }}</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                                            <i class="ni ni-active-40"></i>
                                        </div>
                                    </div>
                                </div>
                                <p class="mt-3 mb-0 text-sm">
                    <span class="text-nowrap">
                      Sales in the last 12mo
                    </span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- Widget 2 -->
                    <div class="col-xl-3 col-md-6">
                        <div class="card card-stats">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Peek Sale</h5>
                                        <span class="h2 font-weight-bold mb-0">${{ peek_sale|default:0 }}</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                                            <i class="ni ni-chart-pie-35"></i>
                                        </div>
                                    </div>
                                </div>
                                <p class="mt-3 mb-0 text-sm">
                                    <span class="text-nowrap">
                                        Highest transaction (last 12mo)
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- Widget 3 -->
                    <div class="col-xl-3 col-md-6">
                        <div class="card card-stats">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Total Orders</h5>
                                        <span class="h2 font-weight-bold mb-0">{{ total_orders|default:0 }}</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                                            <i class="ni ni-money-coins"></i>
                                        </div>
                                    </div>
                                </div>
                                <p class="mt-3 mb-0 text-sm">
                    <span class="text-nowrap">
                      Orders in the last 12mo
                    </span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- Widget 4 -->
                    <div class="col-xl-3 col-md-6">
                        <div class="card card-stats">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Best
                                            Month: {{ best_month.month_name|default:'-' }}</h5>
                                        <span class="h2 font-weight-bold mb-0">${{ best_month.price|default:0 }}</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                                            <i class="ni ni-chart-bar-32"></i>
                                        </div>
                                    </div>
                                </div>
                                <p class="mt-3 mb-0 text-sm">
                    <span class="text-nowrap">
                      Best Month in sales in the last 12mo
                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Charts -->
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col-xl-8">
                <div class="card bg-default">
                    <div class="card-header bg-transparent">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="text-light text-uppercase ls-1 mb-1">Overview</h6>
                                <h5 class="h3 text-white mb-0">Sales value</h5>
                            </div>
                        </div>
                    </div>

                    <!-- Line Chart -->
                    <div class="card-body">
                        <!-- Chart -->
                        <div class="chart">
                            <!-- Chart wrapper -->
                            <canvas id="chartSales" class="chart-canvas"></canvas>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-header bg-transparent">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
                                <h5 class="h3 mb-0">Total orders</h5>
                            </div>
                        </div>
                    </div>

                    <!-- Bar Chart  -->
                    <div class="card-body">
                        <!-- Chart -->
                        <div class="chart">
                            <canvas id="chartOrders" class="chart-canvas"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12">
                <div class="card" id="orderItems">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Orders</h3>
                            </div>
                            {#                            <form action="">{% csrf_token %}</form>#}
                            <div class="col text-right">
                                <a href="{% url 'orders' %}" class="btn btn-sm btn-primary get-order-form">Add Order</a>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <!-- Projects table -->
                        <table class="table align-items-center table-flush order-list">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Date</th>
                                <th scope="col"> &nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if orders %}
                                {% for order in orders %}
                                    <tr>
                                        <th scope="row">{{ order.id }}</th>
                                        <td>{{ order.product_name }}</td>
                                        <td>${{ order.price }}</td>
                                        <td>{{ order.created_time|date:'Y-m-d' }}</td>
                                        <td>
                                            <a href="{% url 'orders' order.id %}" class="get-order-form">Edit</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>

                        {% if orders %}
                            {{ orders.pagination }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

    <script>
        SalesChart({{ orders_month_report|safe }}, {{ orders_month_report_labels|safe }});
        OrderChart({{ orders_month_report|safe }}, {{ orders_month_report_labels|safe }});
    </script>

{% endblock javascripts %}
